# Mark this file as the root EditorConfig
root = true

# Defaults for all files
[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JSON
[*.json]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# YAML
[*.yaml]
indent_size = 2
